/* !FOOTER */
footer {
 
  margin-top:10vh;
  background: #899499;
  color:white;
  display:flex;
  justify-content: center;
  padding:10vmin;
}

.contacts {
  margin:0 auto;
  justify-content: center;
  display:flex;
}

.contactsD {
  padding:0;
}

.contactsD h1 {
  font-size:35px;
  font-family: 'Josefin Sans';
}

footer hr {
    background:white;
    width:90%;
}

#desc {
  width:95%;
}